@model List<OrderWithCustomerAndProduct>

@{
    ViewData["Title"] = "Your Orders";
}
<partial name="_PartialHeader"></partial>
<div class="container mt-5">
    <h2 class="text-primary mb-4">🛒 Your Orders</h2>

    @if (Model != null && Model.Any())
    {
        <div class="card shadow rounded-4 border-0">
            <div class="card-body">
                <table class="table table-hover table-bordered align-middle text-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Phone</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(@i + 1)</th>
                                <td>@Model[i].ProductName</td>
                                <td>@Model[i].Quantity</td>
                                <td>@Model[i].TotalPrice.ToString("N2") EGP</td>
                                <td>@Model[i].CustomerPhoneNumber</td>
                                <td> <a asp-action="PaymentMethod" asp-controller="Payment" class="btn btn-success" asp-route-id="@Model[i].OredrId"> Confirm Payment </a> </td>
                                <td> <a asp-action="UpdateOrder" asp-controller="OrderDetail" asp-route-id="@Model[i].OredrId" class="btn btn-dark">Update</a>   </td>
                                <td> <a asp-action="Delete" asp-controller="OrderDetail" asp-route-id="@Model[i].OredrId" class="btn btn-danger" > Delete </a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info text-center p-4 rounded shadow-sm">
            You have no orders yet.
        </div>
    }

    <partial name="_PartialFooter">
</div>
