@model List<Product>

@{
    ViewData["Title"] = "AllProduct";

}
    <partial name="_PartialHeader"></partial>
<h1>AllProduct</h1>
@if (User.IsInRole("Admin"))
{

    <a asp-controller="Product" asp-action="AddProduct" class="btn btn-success"> Add Product </a>
}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" src="~/Image/@Url.Content(item.UrlImage)" alt="@item.Name" />

                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@item.Name</h5>
                                <p>Price: $@item.Price</p>
                                <p>Qty: @item.Quantity</p>
                            </div>
                        </div>

                        <div class="card-footer p-3 border-top-0 bg-transparent">
                            <div class="d-flex justify-content-between mb-2">
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Update" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-sm btn-secondary w-50 me-1">
                                        Update
                                    </a>
                                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-sm btn-danger w-50 ms-1">
                                        Delete
                                </a>}
                            </div>
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto w-100" asp-route-id="@item.Id" asp-action="CreateOrder" asp-controller="OrderDetail">Add to cart</a>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>



<partial name="_PartialFooter"></partial>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}